// Fontes
$fonte-principal: Roboto, sans-serif;

//Cores
$cor-de-fundo-body: #f5f6fa;
$cor-de-fundo-header: #182C61;
$cor-de-fundo-botao: #44bd32;
$cor-de-fundo-botao-hover: #4cd137;
$cor-das-letras: #fff;

//Breakpoints
$tablet: 1023px;
$mobile: 767px;

