*
{
    box-sizing: border-box;   /*resetando o box-model*/
    margin: 0;
    padding: 0;
}

body > header
{
    background-color: #2f3640;
    color: #f5f6fa;             /*Personalizando meu cabeçalho*/
    padding: 16px 0;
}

header .container
{
    display: flex;
    align-items: center;         /*Personalizando meu cabeçalho*/
    justify-content: space-between;
}

header li
{
    display: inline;             
    font-family: Arial, Helvetica, sans-serif;  /*customizando meu menu*/
    font-weight: bold;
}

header li a
{
    color: #f5f6fa;            /*Definindo a cor dos meus links de menu*/
    text-decoration: none;
    margin-left: 16px;
}

header li a:hover
{
    text-decoration: underline;    /*Animação ao passar o mouse por cima dos itens de menu*/
}

.container
{
    max-width: 1280px;
    width: 100%;             /*Ajustando meu site para abranger todos os tipos de displays*/
    margin: 0 auto 0 auto;
}

.articles
{
    display: flex;
    flex-wrap: wrap;                  /*Inserindo meus artigos um do lado do outro*/
    justify-content: space-between;
}

.articles article img 
{
    /*height: 180px;*/              /*Tamanho das imagens*/
    width: 100%;
}

.articles article
{
    width: 30%;              /*Área em que cada artigo irá ocupar na tela*/
}

section
{
    padding: 16px 0;        /*Aplicando espaçamento entre seções*/
}

section h2,
.articles article
{
    margin-bottom: 16px;    /*Alplicando uma margem abaixo em H2 e artigos*/
}

section h2
{
    font-style: italic;          /*Formatando H2*/
    text-decoration: underline;
}


.articles article h3
{
    margin-top: 8px;   /*Aplicando margens acima e abaixo em meus H3*/
    margin-bottom: 8px;
}

.articles article a
{
    background-color: #000;
    color: #fff;
    padding: 8px;
    display: inline-block;   /*Personalizando meus links "Leia mais" nos artigos*/
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover
{
    text-decoration: underline;  /*Personalizando meus links em animações ao passar mouse por cima*/
}

.articles article p,
.articles article a
{
    font-family: Arial, Helvetica, sans-serif; /*Definindo fonte nos textos e links*/
}

.articles article h3
{
    font-size: 24px; /*Fonte*/
}

section h2
{
    font-size: 32px; /*Fonte*/
}

#sports
{
    background-color: rgba(0, 255, 0, 0.1); /*Aplicando cor de fundo na seção sports*/
}

#sports .articles article a
{
    background-color: rgb(7, 90, 34); /*Aplicando coloração de fundo nos links da seção sports*/
}

#economy
{
    background-color: rgba(168, 92, 15, 0.516); /*Cor de fundo da seção economy*/
}

#economy .articles article a
{
    background-color: rgba(102, 15, 15, 0.7); /*Cor de fundo dos links da seção*/
}

#Tech
{
    background-color: rgba(7, 28, 148, 0.774);
}

#Tech .articles article a
{
    background-color: rgba(22, 21, 21, 0.7);
}

#entretenimento
{
    background-color: rgba(255, 251, 0, 0.322);
}

#entretenimento .articles article a
{
    background-color: black;
}



